@inherits LayoutComponentBase

@using Gunetberg.Web.CustomComponents;
@using Gunetberg.Web.Components;

@namespace Gunetberg.Web.Layouts


    <div class="loading-window primary loading-window-animation">
        <img src="media/logo.svg" class="loading-logo" />
    </div>
    <div class="main-layout-container">
        <div class="main-layout-stretch-container">
            <HeaderComponent></HeaderComponent>
        </div>
        <div class="main-layout-stretch-container">
            <div class="main-layout-center-container">
                @Body
                <LateralBarComponent></LateralBarComponent>
            </div>
        </div>
    </div>
