.post-section-component{
    flex: 1 1 auto;

    p{
        font-size:1.1rem;
        line-height:2.2rem;
    }
}

.post-text-section-component {
    padding: 20px 0 0 0;
}

.post-image-section-component{
    height:300px;
}