.chip-group-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chip-component {
    background: #FFF;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #FFF;
    margin: 5px;
    font-family: 'Roboto Slab', serif;
    border-radius: 15px;
}


.chip-primary {
    background: var(--primary);
    color: var(--on-primary);
}

.chip-secondary {
    background: var(--secondary);
    color: var(--on-secondary);
}

input.chip-selector-primary[type="checkbox"]{
    @extend .chip-primary;
    display: none;
}

input.chip-selector-primary[type="checkbox"]:checked + label {
    @extend .chip-secondary;
}



