.menu-component {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    width: 100px;

    .menu-context-container {
        flex: 1 0 auto;
        position: absolute;
        top:1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: stretch;
        background:#FFF;
        width:100%;
    }

    .menu-item-component {

    }
}
