@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");
:root {
  --primary: #FFFFFF;
  --primary-variant: #FFFFFF;
  --secondary: #FFFFFF;
  --secondary-variant: #FFFFFF;
  --background: #FFFFFF;
  --surface: #FFFFFF;
  --error: #FFFFFF;
  --on-primary: #FFFFFF;
  --on-secondary: #FFFFFF;
  --on-background: #FFFFFF;
  --on-surface: #FFFFFF;
  --on-error: #FFFFFF; }

body {
  margin: 0;
  background: #EFEFEF;
  font-family: 'Lora', serif;
  font-size: 16px; }

.main-layout-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.main-layout-stretch-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.main-layout-center-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 30px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  padding: 20px 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Roboto Slab', serif; }

.no-margin {
  margin: 0;
  padding: 0; }

.vertical-padding {
  padding: 20px 0; }

.text-justify {
  text-align: justify; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-bold {
  font-weight: bold; }

.primary {
  background: var(--primary);
  color: var(--on-primary); }

.primary-reverse {
  background: var(--on-primary);
  color: var(--primary); }

.secondary {
  background: var(--secondary);
  color: var(--on-secondary); }

.secondary-reverse {
  background: var(--on-secondary);
  color: var(--seconday); }

.error {
  background: var(--error);
  color: var(--on-error); }

.error-reverse {
  background: var(--on-error);
  color: var(--error); }
