.button-component {
  display: flex;
  border: none;
  outline: none;
  padding: 10px 0;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .button-component:hover {
    cursor: pointer; }

.button-raised {
  background: var(--primary);
  color: var(--on-primary); }
  .button-raised:hover {
    background: var(--primary-variant); }

.button-flat {
  background: transparent;
  color: var(--primary); }
  .button-flat:hover {
    background: var(--primary);
    color: var(--on-primary); }

.button-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  margin: 0px; }

.chip-group-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.chip-component {
  background: #FFF;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #FFF;
  margin: 5px;
  font-family: 'Roboto Slab', serif;
  border-radius: 15px; }

.chip-primary, input.chip-selector-primary[type="checkbox"] {
  background: var(--primary);
  color: var(--on-primary); }

.chip-secondary, input.chip-selector-primary[type="checkbox"]:checked + label {
  background: var(--secondary);
  color: var(--on-secondary); }

input.chip-selector-primary[type="checkbox"] {
  display: none; }

.card-component {
  border-radius: 7px;
  overflow: hidden;
  background: var(--surface); }

.card-component-shadow {
  box-shadow: 7px 7px 14px 0px var(--shadow); }

.card-content-kind .card-content-component {
  padding: 10px; }

.card-content-kind .card-image-component {
  overflow: hidden;
  height: 200px; }
  .card-content-kind .card-image-component img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.card-image-kind {
  position: relative;
  width: 100%;
  height: 100%; }
  .card-image-kind .card-content-component {
    position: absolute;
    bottom: 0;
    color: #FFF;
    padding: 10px;
    z-index: 200; }
  .card-image-kind .card-image-component {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; }
    .card-image-kind .card-image-component:before {
      content: '';
      position: absolute;
      background: linear-gradient(transparent, black);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      opacity: .5;
      z-index: 200; }
    .card-image-kind .card-image-component img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.caption-component {
  font-size: 0.8rem; }

.label-component {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start; }
  .label-component i {
    margin: 0 5px 0 0; }

.menu-component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: stretch;
  width: 100px; }
  .menu-component .menu-context-container {
    flex: 1 0 auto;
    position: absolute;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    background: #FFF;
    width: 100%; }

.modal-component {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500; }
  .modal-component .modal-background {
    background: #000;
    opacity: .7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500; }
  .modal-component .modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.switch-component {
  padding: 10px 0; }
  .switch-component input[type=checkbox] {
    display: none; }
  .switch-component label {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center; }
  .switch-component .switch-outer {
    position: relative;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: var(--surface);
    box-shadow: 7px 7px 14px 0px var(--shadow);
    margin: 0 2px; }
    .switch-component .switch-outer:hover {
      cursor: pointer; }
  .switch-component .switch-inner {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--primary);
    top: -2px; }
    .switch-component .switch-inner:hover {
      cursor: pointer;
      background: var(--primary-variant); }
  .switch-component .switch-inner-false {
    left: -2px; }
  .switch-component .switch-inner-true {
    right: -2px; }
  .switch-component .switch-label {
    margin: 0 10px; }
