@using Gunetberg.Web.Components

<h2>Categorías</h2>
<ChipGroupComponent>
    <ChipComponent>Tecnología</ChipComponent>
    <ChipComponent>Cocina</ChipComponent>
    <ChipComponent>Arduino</ChipComponent>
    <ChipComponent>Categoría random</ChipComponent>
</ChipGroupComponent>