@using Gunetberg.Web.Components

<h2>Categorías</h2>
<ChipGroupComponent>
    @if (Tags != null)
    {
        @foreach (var Tag in Tags)
        {
            <ChipComponent>@Tag.Name</ChipComponent>
        }
    }
</ChipGroupComponent>