<header class="header-component">
    @*<progress max="100" value="@Progress"></progress>*@
    <div class="header-logo">
        <img src="/media/logo.svg"/>
    </div>
    @*<NavigationMenuComponent></NavigationMenuComponent>*@
</header>
