@using Gunetberg.Web.Components; 

<header class="header-component">
    @*<progress max="100" value="@Progress"></progress>*@
    <a class="header-logo" href="/">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
             xmlns:cc="http://creativecommons.org/ns#"
             xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
             xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             version="1.1"
             id="svg4518"
             viewBox="0 0 200.84414 191.76908"
             sodipodi:docname="logo.svg"
             inkscape:version="0.92.3 (2405546, 2018-03-11)">
            <path id="path4538"
                  style="stroke:none;stroke-width:0.42087987px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                  d="m 95.391477,97.699842 58.188383,-0.42787 2.995,26.527078 -73.377275,-0.21394 z M 103.09288,0.79049266 h 33.37275 L 200.43006,160.59464 165.44405,160.59164 119.35139,37.586093 75.807821,160.59464 41.173516,160.56911 Z"
                  inkscape:connector-curvature="0"
                  sodipodi:nodetypes="ccccccccccccc" />
            <path style="stroke-width:0.4339321px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                  d="m 0.28762537,0.41710266 0.01015,7.22005004 6.62678893,-7.16751004 c -1.847449,-0.0158 -6.63695593,-0.0526 -6.63695593,-0.0526 z m 12.58148663,0.0992 C 8.6074003,5.1667527 4.5385363,9.6133027 0.30711737,14.236863 l 0.01102,8.17775 L 20.516317,0.56884266 c -3.556715,-0.0239 -5.153204,-0.034 -7.647202,-0.0525 z m 14.213819,0.0941 C 18.168656,10.331603 9.1414493,20.188573 0.32830637,29.827073 l 0.01102,8.10318 L 34.798789,0.65955266 c -3.10117,-0.0185 -5.091677,-0.0325 -7.715855,-0.0492 z m 13.746832,0.0839 C 27.548254,15.172193 13.151164,30.890393 0.34949137,44.911303 l 0.01102,7.99893 L 48.599017,0.73583266 c -2.451079,-0.0135 -5.539473,-0.0287 -7.769251,-0.0415 z m 14.103639,0.0754 C 37.063235,20.244083 16.21495,43.006133 0.37067937,60.406543 l 0.01102,7.847222 L 62.736549,0.81207266 c -2.885201,-0.0148 -5.154683,-0.0282 -7.803149,-0.0424 z m 13.511222,0.0729 C 47.537281,23.614053 19.026899,54.708613 0.39102237,75.214484 l 0.01102,7.768412 L 76.018946,1.1960127 C 73.932987,0.97894266 71.778674,0.85955266 69.551492,0.84853266 c -0.439456,-0.002 -0.672369,-0.004 -1.106865,-0.006 z M 81.426992,2.0104827 C 63.797533,21.191773 25.408813,62.993163 0.41221137,90.480036 l 0.01102,7.792136 L 87.862244,3.6987127 c -2.059182,-0.67752 -4.202043,-1.24484 -6.435248,-1.68827 z m 10.716087,3.3045 C 69.850582,29.572793 20.122526,83.735736 0.43339637,105.61513 l 0.01015,7.52092 L 97.595182,8.0583727 c -1.73906,-1.00913 -3.55453,-1.92784 -5.45212,-2.74343 z m 8.869331,4.9122403 c -3.051318,3.31886 -3.936128,4.27899 -9.849913,10.71694 -20.918947,22.77304 -55.82915,60.820243 -77.023795,84.144687 -5.2986617,5.83111 -9.7404867,10.74173 -12.8916837,14.26382 -0.33739893,0.37712 -0.48599093,0.55114 -0.79327993,0.89584 l 0.01015,7.40566 L 105.6814,13.851193 c -1.48043,-1.28962 -3.03884,-2.4973 -4.66901,-3.62401 z m 8.04046,6.82596 C 101.56766,25.191923 11.970573,122.62743 0.47492737,135.93786 l 0.01015,7.24802 L 112.97435,21.518743 c -1.23519,-1.55434 -2.54215,-3.04527 -3.92149,-4.4656 z m 3.50112,11.83058 c 0,0 -104.4617057,113.562657 -112.05702763,122.734137 l 0.01015,7.15818 8.68e-4,0.0187 L 116.74415,33.073893 Z m 6.68696,7.74213 c 0,0 -111.3839137,121.088727 -112.4867217,123.294347 l 0.0035,0.0449 c 1.766156,0.0741 3.9446597,0.15096 6.3038837,0.22629 L 123.43111,40.816853 Z m 6.19031,8.44302 c -2.33269,2.53608 -82.459877,89.654727 -105.464984,115.303907 2.163186,0.0463 4.432421,0.0819 6.820019,0.10763 L 127.41447,51.641423 c -0.58764,-2.21057 -1.2475,-4.40527 -1.98321,-6.57255 z m 3.24263,11.83229 c -9.29051,10.102691 -67.420319,73.331127 -94.860776,103.620777 2.332129,-0.003 4.718803,-0.0178 7.145475,-0.0525 L 129.98501,64.178839 c -0.35737,-2.420976 -0.79307,-4.852136 -1.31112,-7.277676 z m 1.99592,12.7798 C 106.705,95.772336 66.646857,139.43983 47.781997,160.32112 c 2.422739,-0.0695 4.856655,-0.16106 7.287855,-0.2746 L 131.20544,77.698536 c -0.0879,-2.626964 -0.26285,-5.307011 -0.53563,-8.017573 z m 0.56699,14.506213 c -21.74884,23.690004 -50.953949,55.548324 -69.016389,75.449954 2.622924,-0.17886 5.208643,-0.39118 7.739586,-0.63903 L 130.57319,93.439596 c 0.3569,-3.05074 0.5823,-6.14031 0.66361,-9.25242 z m -1.87811,17.073364 c -17.32769,18.88647 -36.937573,40.30076 -52.035407,56.88156 3.019364,-0.41205 5.909608,-0.88389 8.59389,-1.43656 l 40.478577,-43.78222 c 1.18866,-3.75806 2.1862,-7.65976 2.96294,-11.66278 z M 122.27,123.75471 c -9.62713,10.50356 -19.22557,20.98869 -28.204738,30.82105 10.892758,-3.65319 21.209628,-15.29752 28.204738,-30.82109 z"
                  id="path4543"
                  inkscape:connector-curvature="0"
                  sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccsscccccccccccccccccccccccccccccccccccccccccccccccccccc" />
            <rect style="opacity:1;fill-opacity:1;stroke:none;stroke-width:4.77358913;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:14.28482914;stroke-opacity:1"
                  id="rect827"
                  width="200.51933"
                  height="23.979811"
                  x="0.3248032"
                  y="167.78926" />
        </svg>
    </a>
    <div class="menu-button">
        <ButtonComponent Icon="true" OnClick="_lateralBarProvider.Toggle">
            <IconComponent Id="fal fa-bars fa-lg"></IconComponent>
        </ButtonComponent>
    </div>
    @*<NavigationMenuComponent></NavigationMenuComponent>*@
</header>
