@using Gunetberg.Web.Components;

<div class="navigation-menu-container">
    <nav>
        <ul>
            <li>
                <MenuComponent>
                    <MenuItemComponent>Español</MenuItemComponent>
                    <MenuItemComponent>Inglés</MenuItemComponent>
                    <MenuItemComponent>Francés</MenuItemComponent>
                </MenuComponent>

            </li>
        </ul>
    </nav>
</div>