@using Gunetberg.Web.Components

<div class="post-image-section-component">
    <CardComponent IsImageCard="true">
        <CardImageComponent Source="@Source"></CardImageComponent>
        <CardContentComponent>
            <CaptionComponent>
                Pie de la imagen: Firmamento de iokese
            </CaptionComponent>
        </CardContentComponent>
    </CardComponent>
</div>