@using Gunetberg.Web.Components;

<div class="post-header-component">
    <div class="post-header-title">
        <h1>@Title</h1>
        <ChipGroupComponent>
            @if (Tags != null)
            {
                @foreach (var Tag in Tags)
                {
                    <ChipComponent>@Tag.Name</ChipComponent>

                }
            }
        </ChipGroupComponent>
    </div>

    <div class="post-header-image">
        <CardComponent IsImageCard="true">
            <CardImageComponent Source="@HeaderImage"></CardImageComponent>
        </CardComponent>
    </div>
</div>