@using Gunetberg.Web.Components;

<div class="post-text-section-component">
    <CardComponent>
        <CardContentComponent>
            @HtmlContent
        </CardContentComponent>
    </CardComponent>
</div>
    