@using Gunetberg.Web.Components;

<CardComponent>
    <CardContentComponent>
        <div class="author-content-container">
            <div class="author-image">
                <img src="@ProfilePicture" />
            </div>
            <div class="author-description">
                <h3>@Alias</h3>
                <p class="text-justify">@Description</p>
            </div>
        </div>
    </CardContentComponent>
</CardComponent>