@if (IsSelectable)
{
    <input id="@Id" class="@(IsSecondary ? "chip-selector-secondary" : "chip-selector-primary")"  type="checkbox" />
}

<label for="@Id" class="chip-component @(IsSecondary ? "chip-secondary" : "chip-primary")">
    @ChildContent
</label>